@page "/personas"
@inject SweetAlertService sweetAlertService
@inject IPersonaService servicioPersona

<h3>Listar Personas</h3>

<div class="form-group row">
    <div class="col-sm-10">
        <a href="/personas/crear" class="btn btn-primary m-1">Agregar Nuevo</a>
    </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th><strong>Nombre Institucion</strong></th>
                <th><strong>Apellido</strong></th>
                <th><strong>Opciones</strong></th>
            </tr>
        </thead>
        @foreach (var item in personas)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellidos</td>
                <td>
                    <button class="btn btn-danger ms-1" @onclick="(e=>Eliminar(item.Id))">Eliminar</button>
                    <button class="btn btn-warning ms-1" href="@($"/personas/crear?Id={item.Id}")">Modificar</button>
                </td>
            </tr>
        }
    </table>
</div>


@code {
    public List<Persona> personas { get; set; } = new List<Persona>();

    protected override async Task OnInitializedAsync()
    {
        var respuesta = await servicioPersona.ListarPersonas();
        personas = respuesta;
    }
    private async Task Eliminar(int id)
    {
        bool eliminado = await servicioPersona.EliminarPersonas(id);
        if (eliminado)
        {
            await sweetAlertService.FireAsync("Exito", "El idioma ha sido eliminado correctamente", SweetAlertIcon.Success);
            await OnInitializedAsync();
        }
        else
        {
            await sweetAlertService.FireAsync("Error", "No se puedo eliminar el idioma");
        }

    }
}
